@use 'sass:map';
@import '../../node_modules/include-media/dist/_include-media.scss';
@import url('../styles/pages/_index.scss');
@import url('../styles/pages/_shared.scss');
@import url('../styles/pages/_navigation.scss');
@import url('../styles/pages/_footer.scss');
@import url('../styles/pages/_ampp-croatia.scss');
@import url('../styles/pages/_ampp-croatia-chapter.scss');
@import url('../styles/pages/_our-mission.scss');
@import url('../styles/pages/_board.scss');
@import url('../styles/pages/_professional-ethics.scss');
@import url('../styles/pages/_working-groups.scss');
@import url('../styles/pages/_courses-and-certifications.scss');
@import url('../styles/pages/_cathordic-protection.scss');
@import url('../styles/pages/_coating.scss');
@import url('../styles/pages/_oil-and-gas.scss');

body {
  font-size: 16rem;
}

// Korisiti brojeve bez px, %, itd.
$designViewportWidths: (
  mobile: 375,
  largeDesktop: 1440
);

html {
  font-size: calc(100vw / #{map.get($designViewportWidths, 'largeDesktop')});
  @include media('<=tablet') {
    font-size: calc(100vw / #{map.get($designViewportWidths, 'mobile')});
  }
}


/* Zodiak Thin (100) */
@font-face {
  font-family: 'Zodiak';
  src: url('@/assets/fonts/Zodiak-Thin.woff2') format('woff2'),
       url('@/assets/fonts/Zodiak-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zodiak';
  src: url('@/assets/fonts/Zodiak-ThinItalic.woff2') format('woff2'),
       url('@/assets/fonts/Zodiak-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Zodiak Light (300) */
@font-face {
  font-family: 'Zodiak';
  src: url('@/assets/fonts/Zodiak-Light.woff2') format('woff2'),
       url('@/assets/fonts/Zodiak-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zodiak';
  src: url('@/assets/fonts/Zodiak-LightItalic.woff2') format('woff2'),
       url('@/assets/fonts/Zodiak-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Zodiak Regular (400) */
@font-face {
  font-family: 'Zodiak';
  src: url('@/assets/fonts/Zodiak-Regular.woff2') format('woff2'),
       url('@/assets/fonts/Zodiak-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zodiak';
  src: url('@/assets/fonts/Zodiak-Italic.woff2') format('woff2'),
       url('@/assets/fonts/Zodiak-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zodiak';
  src: url('@/assets/fonts/Zodiak-Bold.woff2') format('woff2'),
       url('@/assets/fonts/Zodiak-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zodiak';
  src: url('@/assets/fonts/Zodiak-BoldItalic.woff2') format('woff2'),
       url('@/assets/fonts/Zodiak-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zodiak';
  src: url('@/assets/fonts/Zodiak-Black.woff2') format('woff2'),
       url('@/assets/fonts/Zodiak-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zodiak';
  src: url('@/assets/fonts/Zodiak-BlackItalic.woff2') format('woff2'),
       url('@/assets/fonts/Zodiak-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
