@import '../../../node_modules/include-media/dist/_include-media.scss';
$special-red: #ee2737;

.our-mission_page_text{
    width: 80%;
    margin: 0 auto;
    padding: 100rem 0 20rem;
    @include media("<=tablet"){
        padding: 60rem 0 20rem;
    }
    h1{
        width: 19%;
        color: black;
        font-size: 40rem;
        font-weight: 100;
        border-bottom: 2rem $special-red solid;
        @include media("<=tablet"){
        width:55%;
        font-size: 30rem;
    }
    }
    h2{
        font-size: 26rem;
        font-weight: 100;
        @include media("<=tablet"){
        font-size: 20rem;
    }
    }
    p{
        font-size: 14rem;
        font-weight: 100;
        @include media("<=tablet"){
        font-size: 12rem;
    }
    }
    h3{
        color: $special-red;
        font-size: 23rem;
        font-weight: 100;
        @include media("<=tablet"){
        font-size: 18rem;
    }
    }
}

.our_mission_text_and_photo{
    display: flex;
    width: 80%;
    margin: 0 auto 50rem;
    @include media("<=tablet"){
        flex-direction: column;
    }
    img{
        width: 50%;
        @include media("<=tablet"){
            width: 100%;
        }
    }
}

.our_mission_text{
    width: 50%;
     padding-left: 30rem;
    background-color: rgba(0, 0, 0, 0.815);
    @include media("<=tablet"){
        background-color: white;
        width: 100%;
        padding: 0;
    }
    h2{
        width: 80%;
        color: white;
        font-weight: 100;
        font-size: 36rem;
        border-left: 2rem $special-red solid;
        padding-left: 20rem;
        @include media("<=tablet"){
            color: black;
            font-size: 28rem;
        }
    }
    p{
        color: white;
        font-weight: 100;
        font-size: 18rem;
        padding-left: 20rem;
        @include media("<=tablet"){
            color: black;
            font-size: 14rem;
        }
    }
    a{
        margin: 0 0 30rem 10rem;
        @include media("<=tablet"){
            margin: 0 0 30rem 20rem;
        }
    }
}
